image: node:20

stages:
  - install
  - test
  - build

before_script:
  - npm install -g pnpm

cache:
  paths:
    - node_modules/

install:
  stage: install
  script:
    - pnpm install
    - pnpm prisma generate

test:
  stage: test
  script:
    - pnpm test:cov
  artifacts:
    when: always
    paths:
      - coverage/

build:
  stage: build
  script:
    - pnpm build
